.Blog {
    @include formatText (inherit, 12px, 400, 25px);

    &-title {
        @include formatText (inherit, 20px, 400, 24px);
        margin-top: 0;
        
        &--fontStyle_italic {
            font-style: italic;
        }
    }

    &-subtitle {
        @include formatText (inherit, 13px, 400, 26px);
        margin-bottom: 0;
    }

    &-wrapper {
        text-align: right;
    }

    &-link {
        &--textColor_orange {
            color: #ff5d30;
        }
    }
}