<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Dmitry Vasilev">
    <meta name="description" content="Template page">
    <meta name="keywords" content="template, blog, news, article">
    <link href="index.css" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="Wrapper">
        <header class="Header">
            <div class="Container Header-container">
                <div class="Logo">
                    <h1 class="Logo-title">Fashionable</h1>
                    <div>Free PSD Website template</div>
                </div>
                <nav class="NavigationBar">
                    <ul class="NavigationBar-list">
                        <li>Homepage</li>
                        <li>Style demo</li>
                        <li>Full width</li>
                        <li>Dropdown</li>
                        <li>Link text</li>
                    </ul>
                </nav>
            </div>
        </header>
        <section>
            <div class="Slider">
                <figure>
                    <img src="user_files/slide1.png" alt="Some picture">
                    <figcaption>
                        <h2>Slide 1 Caption</h2>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, libero fugit temporibus velit excepturi earum ab. Nesciunt perferendis laborum quo temporibus deleniti necessitatibus accusamus minus.
                        </p>
                    </figcaption>  
                </figure>
                <div class="Slider-controls">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </section>
        <section>
            <div>
                <div>
                    <h2></h2>
                    <figure>
                        <img src="" alt="">
                    </figure>
                    <p></p>
                    <p></p>
                    <a href=""></a>
                </div>
                <div>
                    <h2></h2>
                    <figure>
                        <img src="" alt="">
                    </figure>
                    <p></p>
                    <p></p>
                    <a href=""></a>
                </div>
                <div>
                    <h2></h2>
                    <figure>
                        <img src="" alt="">
                    </figure>
                    <p></p>
                    <p></p>
                    <a href=""></a>
                </div>
            </div>
        </section>
        <section>
            <div>
                <h2></h2>
                <div>
                    <div>
                        <figure>
                            <img src="" alt="">
                        </figure>
                    </div>
                    <div>
                        <figure>
                            <img src="" alt="">
                        </figure>
                        <figure>
                            <img src="" alt="">
                        </figure>
                        <figure>
                            <img src="" alt="">
                        </figure>
                        <figure>
                            <img src="" alt="">
                        </figure>
                        <figure>
                            <img src="" alt="">
                        </figure>
                        <figure>
                            <img src="" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div>
                <div>
                    <h2></h2>
                    <form action="">
                        <input type="text" name="" id="">
                        <button></button>
                    </form>
                </div>
                <div>
                    <h2></h2>
                    <div>
                        <div><a href=""><img src="" alt=""></a></div>
                        <div><a href=""><img src="" alt=""></a></div>
                        <div><a href=""><img src="" alt=""></a></div>
                        <div><a href=""><img src="" alt=""></a></div>
                    </div>
                </div>
                <div>
                    <h2></h2>
                    <div>
                        <h3></h3>
                        <div></div>
                        <p></p>
                        <a href=""></a>
                    </div>
                    <div>
                        <h3></h3>
                        <div></div>
                        <p></p>
                        <a href=""></a>
                    </div>
                </div>
                <div>
                    <h2></h2>
                    <p></p>
                    <p></p>
                    <p></p>
                    <a href=""></a>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

  