<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Dmitry Vasilev">
    <meta name="description" content="Template page">
    <meta name="keywords" content="template, blog, news, article">
    <link href="index.css" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="Wrapper">
        <header class="Header Wrapper-header">
            <div class="Container Header-container">
                <div class="Logo Logo--textColor_dark">
                    <h1 class="Logo-title">Fashionable</h1>
                    <div class="Logo-text">Free PSD Website template</div>
                </div>
                <nav class="NavigationBar NavigationBar--theme_dark">
                    <ul class="NavigationBar-list">
                        <li class="NavigationBar-item NavigationBar-item--textCase_upper"><a href="" class="Link">Homepage</a></li>
                        <li class="NavigationBar-item NavigationBar-item--textCase_upper"><a href="" class="Link">Style demo</a></li>
                        <li class="NavigationBar-item NavigationBar-item--textCase_upper"><a href="" class="Link">Full width</a></li>
                        <li class="NavigationBar-item NavigationBar-item--textCase_upper"><a href="" class="Link">Dropdown</a></li>
                        <li class="NavigationBar-item NavigationBar-item--textCase_upper"><a href="" class="Link">Link text</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section class="Wrapper-slider">
            <div class="Slider">
                <div class="Container Slider-container">
                    <figure class="Slider-item">
                        <div class="Slider-frame">
                            <img src="user_files/slider-item1.png" alt="Some picture">
                        </div>     
                        <figcaption class="Slider-caption Slider-caption--textColor_light">
                            <h2 class="Slider-title">Slide 1 Caption</h2>
                            <p class="Slider-text">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, libero fugit temporibus velit excepturi earum ab.     Nesciunt perferendis laborum quo temporibus deleniti necessitatibus accusamus minus.
                            </p>
                        </figcaption>  
                    </figure>
                    <div class="Slider-controls">
                        <div class="Slider-radioButton"></div>
                        <div class="Slider-radioButton"></div>
                        <div class="Slider-radioButton"></div>
                        <div class="Slider-radioButton"></div>
                        <div class="Slider-radioButton Slider-radioButton--checked"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="Wrapper-information">
            <div class="Information  Information--textColor_dark">
                <div class="Container Information-container">
                    <div class="Information-item">
                        <h2 class="Information-title">Indonectetus facilis</h2>
                        <figure class="Information-frame">
                            <img src="" alt="Some picture">
                        </figure>
                        <p class="Information-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptatum aliquam et sequi amet. Dolorem deleniti porro molestias sint quidem.</p>
                        <p class="Information-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptatum aliquam et sequi amet. Dolorem deleniti porro molestias sint quidem.</p>
                        <a href="#" class="Link Information-link--textColor_orange">Continue Reading &raquo</a>
                    </div>
                    <div class="Information-item">
                        <h2 class="Information-title">Indonectetus facilis</h2>
                        <figure class="Information-frame">
                            <img src="" alt="Some picture">
                        </figure>
                        <p class="Information-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptatum aliquam et sequi amet. Dolorem deleniti porro molestias sint quidem.</p>
                        <p class="Information-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptatum aliquam et sequi amet. Dolorem deleniti porro molestias sint quidem.</p>
                        <a href="#" class="Link Information-link--textColor_orange">Continue Reading &raquo</a>
                    </div>
                    <div class="Information-item">
                        <h2 class="Information-title">Indonectetus facilis</h2>
                        <figure class="Information-frame">
                            <img src="" alt="Some picture">
                        </figure>
                        <p class="Information-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptatum aliquam et sequi amet. Dolorem deleniti porro molestias sint quidem.</p>
                        <p class="Information-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptatum aliquam et sequi amet. Dolorem deleniti porro molestias sint quidem.</p>
                        <a href="#" class="Link Information-link--textColor_orange">Continue Reading &raquo</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="Wrapper-gallery">
            <div class="Gallery Gallery--textColor_dark">
                <div class="Container Gallery-container">
                    <h2 class="Gallery-title">Latest From The Gallery</h2>
                    <div class="Gallery-wrapper">
                        <figure class="Gallery-frontImage">
                            <img src="" alt="Some picture">
                        </figure>
                        <div class="Gallery-previewContainer">
                            <figure class="Gallery-previewItem">
                                <img src="" alt="Some picture">
                            </figure>
                            <figure class="Gallery-previewItem">
                                <img src="" alt="Some picture">
                            </figure>
                            <figure class="Gallery-previewItem">
                                <img src="" alt="Some picture">
                            </figure>
                            <figure class="Gallery-previewItem">
                                <img src="" alt="Some picture">
                            </figure>
                            <figure class="Gallery-previewItem">
                                <img src="" alt="Some picture">
                            </figure>
                            <figure class="Gallery-previewItem">
                                <img src="" alt="Some picture">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="Footer Footer--textColor_dark">
            <div class="Container Footer-container">
                <div class="Footer-item">
                    <div class="Newsletter">
                        <h2 class="Newsletter-title Newsletter-title--fontStyle_italic">Newsletter</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque sequi suscipit est saepe consectetur nihil hic! Debitis, aliquid ipsum? Voluptate, esse.</p>
                        <form action="#" class="Newsletter-form">
                            <input type="text" name="" placeholder="Enter Your Email Here" class="Newsletter-inputArea">
                            <input type="submit" value="Sign up" class="Newsletter-submitButton Newsletter-submitButton--textColor_orange Newsletter-submitButton--textCase_upper">
                        </form>
                    </div>    
                    <div class="Social">
                        <h2 class="Social-title Social-title--fontStyle_italic">Stay Social</h2>
                        <div class="Social-container">
                            <div class="Social-item"><a href="#" class="Link Social-link"><img src="assets/images/linkedin.svg" alt="" class="Social-img">LinkedIn</a></div>
                            <div class="Social-item"><a href="#" class="Link Social-link"><img src="assets/images/pinterest.svg" alt="" class="Social-img">Pinterest</a></div>
                            <div class="Social-item"><a href="#" class="Link Social-link"><img src="assets/images/twitter-square.svg" alt="" class="Social-img">Twitter</a></div>
                            <div class="Social-item"><a href="#" class="Link Social-link"><img src="assets/images/rss-square.svg" alt="" class="Social-img">RSS Feed</a></div>
                        </div>
                    </div>
                </div>    
                <div class="Footer-item">
                    <div class="Blog">
                        <h2 class="Blog-title Blog-title--fontStyle_italic">From The Blog</h2>
                        <div class="Blog-item">
                            <h3 class="Blog-subtitle">Blog Post Title</h3>
                            <div>Posted by Admin on 00.00.0000</div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione excepturi alias, ex quae blanditiis quasi?</p>
                            <div class="Blog-wrapper">
                                <a href="#" class="Link Blog-link Blog-link--textColor_orange">Read More &raquo</a>
                            </div>
                        </div>
                        <div>
                            <h3 class="Blog-subtitle">Blog Post Title</h3>
                            <div>Posted by Admin on 00.00.0000</div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione excepturi alias, ex quae blanditiis quasi?</p>
                            <div class="Blog-wrapper">
                                <a href="#" class="Link Blog-link Blog-link--textColor_orange">Read More &raquo</a>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="Footer-item">
                    <div class="Twitter">
                        <h2 class="Twitter-title Twitter-title--fontStyle_italic">Latest From Twitter</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, consequuntur tempore. Nulla, deleniti! Quasi laboriosam natus tempora, ducimus eius error?</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, consequuntur tempore. Nulla, deleniti! Quasi laboriosam natus tempora, ducimus eius error?</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, consequuntur tempore. Nulla, deleniti! Quasi laboriosam natus tempora, ducimus eius error?formator gutre</p>
                        <div class="Twitter-wrapper">
                            <a href="#" class="Link Twitter-link Twitter-link--textColor_orange">Sign up to our Twitter feed here &raquo</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

  