$wrapper-bg-color: #e2e2e2;
$header-bg-color: #ffffff;
$logo-title-color:#505050;
$title-light-color: #c2c2c2;
$text-light-color: #c1c1c1;
$text-dark-color: #666666;
$image-placeholder-color:#333333;
$mainFont: "Georgia";