.NavigationBar {
    width: 617px;
    height: 55px;
    border-radius: 10px;
    
    &-list {
        @include flexContainer (space-around, center);
        padding: 0;
        margin: 0;
        list-style: inside none none;
        height: 100%;
    }

    &-item {
        @include formatText (inherit, 13px, 400, 13px);

        &--textCase_upper {
            text-transform: uppercase;
        }

        &:hover {
            color: #bdbdbf;
        }
    }

    &--theme_dark {
        background: #303030;
        color: #ffffff;
    }
}

